body {
    margin: 0;
    padding: 0;
}

.noLinkEffect, .noLinkEffect:hover {
    text-decoration: none;
    color:#000000 ;
}

.menu-arrow {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #0080ff;
    margin: auto;
}


.card {
  margin-bottom: 10px;
}

